{{ define "title" }}CBoard{{ end }}
{{ define "content" }}
<div class="content">
    <div class="posts">
        <div class="post on-list">
            <h1 class="post-title">Welcome!</h1>
            <div class="post-content">
                Welcome to CBoard! Pick one of the boards (1-4) to look at or post something new!
            </div>
            <div>
            </div>
        </div>
        <div class="pagination">
            <div class="pagination__buttons">
            </div>
        </div>
    </div>
</div>
{{ end }}
